# Java / Maven / Gradle
**/target/
**/backend/target
**/ backend/.idea/**
**/build/
out/
*.log
*.class
*.jar
*.war
*.ear
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.project
.classpath
.settings/
.vscode/
*.iws
*.ipr

# Node / React
**/node_modules/
**/dist/
.env*
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
