server:
  port: 8080
  servlet:
    session:
      cookie:
        same-site: none
        secure: true
  tomcat:
    max-swallow-size: -1

spring:
  datasource:
    url: jdbc:h2:mem:godwitcare;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password: ""
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  flyway:
    enabled: true
    locations: classpath:db/migration/h2
    baseline-on-migrate: true
    validate-on-migrate: false
  logging:
    level:
      org.hibernate.SQL: INFO
  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB


