server:
  port: 8080
  servlet:
    session:
      cookie:
        same-site: none
        secure: true
  tomcat:
    max-swallow-size: -1

spring:
  datasource:
    url: jdbc:postgresql://dpg-d44cvvali9vc73e8vimg-a:5432/godwitcare_prod
    username: ${DB_USERNAME:godwitcare_prod_user}
    password: ${DB_PASSWORD:C7vRQI9fsjY5KhXCjlot7unHZcp6wYnA}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # consider 'validate' once you add Flyway
    show-sql: false
    properties:
      hibernate:
        jdbc.lob.non_contextual_creation: true
        format_sql: true
  sql:
    init:
      mode: never        # don't auto-run schema/data scripts in prod
  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB

# Log levels (prod-appropriate)
logging:
  level:
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: WARN
